---
import Base from "../layouts/Base.astro";
---

<Base title="404 Page Not Found">
  <main class="prose prose-zinc mx-auto mt-8 dark:prose-invert" data-pagefind-ignore>
    <h1 class="text-center">404 Page Not Found</h1>
    <a href="/" class="no-underline">
      <p class="text-center hover:text-green-500">ホームに戻る</p>
    </a>
  </main>
</Base>
