---
import Layout from "../layouts/Base.astro";
---

<Layout title="Astro Docs Sample">
  <main>
    <div class="bg-green-700 dark:bg-zinc-800">
      <div class="mx-auto max-w-6xl p-8 text-center md:py-16">
        <h1 class="mb-16 text-6xl font-bold text-white">Build Your Project!</h1>
        <div class="space-y-8 dark:text-white md:flex md:justify-center md:gap-x-8 md:space-y-0">
          <div>
            <div class="rounded-2xl bg-zinc-100 p-8 shadow-xl dark:bg-zinc-900">
              <h2 class="text-2xl font-bold">Card 1</h2>
              <p class="my-4 text-gray-600 dark:text-gray-400">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt, nisl eget aliquam tincidunt,
                nisl elit aliquam tortor, eget aliquam nisl elit non nisl.
              </p>
              <a
                href="/docs/get-started/introduction"
                class="inline-block rounded bg-green-700 px-4 py-2 text-lg font-bold text-white hover:bg-green-800"
              >
                LEARN
              </a>
            </div>
          </div>
          <div>
            <div class="rounded-2xl bg-zinc-100 p-8 shadow-xl dark:bg-zinc-900">
              <h2 class="text-2xl font-bold">Card 2</h2>
              <p class="my-4 text-gray-600 dark:text-gray-400">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt, nisl eget aliquam tincidunt,
                nisl elit aliquam tortor, eget aliquam nisl elit non nisl.
              </p>
              <a
                href="/docs/guides/migrate-from-z"
                class="inline-block rounded bg-green-700 px-4 py-2 text-lg font-bold text-white hover:bg-green-800"
              >
                MIGRATE
              </a>
            </div>
          </div>
          <div>
            <div class="rounded-2xl bg-zinc-100 p-8 shadow-xl dark:bg-zinc-900">
              <h2 class="text-2xl font-bold">Card 3</h2>
              <p class="my-4 text-gray-600 dark:text-gray-400">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt, nisl eget aliquam tincidunt,
                nisl elit aliquam tortor, eget aliquam nisl elit non nisl.
              </p>
              <a
                href="/docs/get-started/installation"
                class="inline-block rounded bg-green-700 px-4 py-2 text-lg font-bold text-white hover:bg-green-800"
              >
                INSTALL
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mx-auto max-w-6xl dark:text-white md:flex md:flex-wrap md:py-32">
      <a
        href="/docs/get-started/introduction"
        class="mx-auto my-4 block w-fit rounded bg-green-700 px-8 py-2 text-center text-lg font-bold text-white hover:bg-green-800"
      >
        GET STARTED
      </a>
    </div>
  </main>
</Layout>
